<table class='grid'>
	<thead>
    <tr>
  		<th>Позиция</th>
  		<th>Контора</th>
  		<th></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'show', :collection => @vacancies %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan='3'>
		    <%= will_paginate @vacancies, :previous_label => "« предыдущая", :next_label => "следующая »" %>
      </td>
    </tr>
  </tfoot>
</table>
