- vacancy ||= show

tr{id="vacancy_#{vacancy.id}" class=cycle('', 'alt')}
  td.title= raw vacancy.title
  td.employer= raw vacancy.employer_name
  td.actions
    button.edit Edit
    button.delete Delete
