<% identifier "admin-dashboard" %>

<table>
  <tr><th>Вакансий</th><td><%= Vacancy.count %></td></tr>
  <tr><th>Резюме</th><td><%= Resume.count %></td></tr>
  <tr><th>Работодателей</th><td><%= Employer.count %></td></tr>
  <tr><th>Каптчей</th><td><%= SimpleCaptchaData.count %></td></tr>
</table>
