%strong Страницы:
= will_paginate @vacancies, :params => params.merge(:use_route => :nice_vacancies), :param_name => :page, :previous_label => "« предыдущая", :next_label => "следующая »", :container => false
