<tr id='<%= @vacancy.id %>-description' class='desc'>
	<td colspan=3>
		<div id='<%= @vacancy.id %>-description-content' class='content' style='display:none'><%= @vacancy.description %><p><a href='http://www.rabota.ru/vacancy<%= @vacancy.external_id %>.html' class='rabota-ru'>Контактная информация на Работе.ру</a></div>