<% @page_id = 'vacancies-search-page' %>
<%= render :partial=>'search_form' %>


<div class='message warning'>
	<% if params[:q] %>
		По вашему запросу ничего не найдено
		<br>
		Попробуйте изменить ключевые слова или 
		<%=	link_to 'поискать без указания ключевых слов',
		request.request_parameters.merge($query_param_name=>nil), {:class=>'ui'}%>
	<% else  %>
		Иформации о вакансиях в выбранном городе/отрасли сейчас нет
	<% end  %>
</div>