@import "_helpers";

/* Reset */
a:link {color: @link_color;}
a:visited {color: purple}
a:hover {color: @hovered_link_color}
table {border-collapse: separate;}
h1, h2, h3, h4, h5, h6, p, pre {margin: 0}
h1 {margin: 1em 0 .25em}
h2 {margin: 1em 0 .25em}
h3 {margin: 1em 0 0}
h4 {margin: 1em 0 0}
p {margin: .25em 0}
pre {margin: .25em 0}

/* Forms */
form {
  .form-errors {
    margin: 10px 0 15px;
    color: #ad0000;
    h2 { margin: 5px 0; font-size: 16px; color: #ad0000; }
    ul { margin: 5px 0; padding-left: 0px; list-style-position: inside; }
  }
  table.form-layout {
    td { padding-bottom: 5px; }
    th { text-align: left; vertical-align: top; padding-right: 10px; }
    th label { font-variant: small-caps; line-height: 1.7; }

    input[type=text], input[type=password] { width: 195px; padding: 3px; font-size: 13px; }
    select { width: 205px; }
    input.button, input[type=submit] { width: 200px; }
    textarea { font-size: 13px; }

    label input {width: auto} /*fix for checkbox & radiobuttons*/

    td small {color: gray; font-size: 11px;}
    td span.required-mark {color: gray; font-size: 11px}  
  }  
}

form.search {
  table.form-layout {
    input[type=text], input[type=password] { width: 185px; padding: 1px; font-size: 11px; }
  }
}

* html table.form-layout {
  td {padding-top: 0}
  td input.checkbox {margin-left: -3px}
} 

input.inner-tooltip, textarea.inner-tooltip { color: gray; font-style: italic; }
input.required-field, textarea.required-field { background: #FF6; }

div.submit {
  margin-top: 3px;
  span.cancel {font-size: small;}
  .action-button {}
}

span.invalid label {color: red;}
tr.high td span.required-mark {vertical-align:top;}
table.form-layout {
  td span.invalid + span.required-mark {color:red;}
  td span.invalid textarea.inner-tooltip {color:red;}
} 


/* Links */
a:link, a:visited { color: @link_color; }
a:hover { color: @hovered_link_color; }
a.cmd:link, a.cmd:visited { color: green; border-bottom: 1px dashed; text-decoration: none; }
a.cmd:hover { color: firebrick; }
a.page { padding: 0 4px; text-decoration: none; }
a.page:hover { padding: 0 3px; border: 1px solid #df0f5f; }
a.page.current { border: 1px solid black; color: black; padding: 0 3px; cursor: default; }
a.tmp { color: green; }
a span.sort-mark { text-decoration:none }


/* Pagination */
.pagination {
  em { font-style: normal; padding: 5px 5px; color: white; background: black; cursor: default; }
  a { padding: 5px 5px; text-decoration: none; }
  a:visited { color: @link_color; }
  a:hover { color: white; background: @link_color; }
  a:visited:hover { color: white; background: @link_color;  }
  span.disabled { visibility: hidden; }
}


span.spinner { background: green; color: white; }
table.devgrid td {border: 1px dashed black;}
.centered { margin: 0 auto; }
br.clearer { clear: both; display: block;}
div.message {text-align: center; font-weight: bold; padding: 8px; margin: 8px 0 8px;}
div.warning {background: gold;}

.centered {
  margin: 0 auto;
}

table.rounded {
  tr:first-child th:first-child {
  	-moz-border-radius-topleft: 10px;
  	-webkit-border-top-left-radius: 10px;
  }

  tr:first-child th:last-child {
  	-moz-border-radius-topright: 10px;
  	-webkit-border-top-right-radius: 10px;  
	}
  
  tr:last-child td:first-child {
  	-moz-border-radius-bottomleft: 10px;
  	-webkit-border-bottom-left-radius: 10px;
  }

  tr:last-child td:last-child {
  	-moz-border-radius-bottomright: 10px;
  	-webkit-border-bottom-right-radius: 10px;  
	}
}
