@import "_helpers";

body#edit-resume {
  form#resume-form {
    margin-top: 10px;
    border-top: 2px solid #666;    
    padding-top: 10px;
  
    
    #name-section, #job-section, 
    #about-me-section, #job-reqs-section, 
    #contact-section, #security-section {margin: 16px 0}
    
    textarea { width: 500px; }
    textarea#resume_about_me { height: 200px; }
    textarea#resume_job_reqs { height: 100px; }
    textarea#resume_contact_info { height: 50px; }
    
    input#resume_min_salary {text-align: center; width: 60px}
  }
}

body#workers-login {
  #workers-login-form {
    #name, #password {width: 140px;}
    #log_in {width:145px}
  }  
}
