# copy (not symlink) to /etc/cron.d/rabotnegi
*	3	*	*	*	root	/u/rabotnegi_prod/current/script/runner -e production "RabotaRu.load" &> /u/rabotnegi_prod/current/log/cron-loading.log
*	4	*	*	*	root	/u/rabotnegi_prod/current/script/runner -e production "Vacancy.cleanup" &> /u/rabotnegi_prod/current/log/cron-cleanup.log
