<%= error_messages_for :employer %>
<% form :employer, :url => employers_path do |f| %>
	<%= f.text_field 'Название компании', :name %>
	<%= f.text_field 'Логин', :login %>
	<%= f.password_field 'Пароль', :password %>
	<%= f.password_field 'Подтверждение пароля', :password_confirmation %>
	<%= f.wrap2 'Надпись на картинке', show_simple_captcha(:object => 'employer') %>
	<%= f.submit 'Зарегистрироваться' %>
<% end %>