<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<% location = determine_location %>

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />	
	<%= tag :meta, :name => 'description', :content => desc if desc %>
	<%= tag :meta, :name => 'keywords', :content => keywords if keywords %>
	<title><%= page_title %></title>
	<%= stylesheet_link_tag 'default.css' %>
	<%= javascript_include_tag :defaults %>
</head>

<body <%= page_id %>>
	<div id='header'>
		<div id='nav'>
			<table id='tab-bar'>
				<col width=10>
				<col width=1>
				<col width=10>
				<col width=10>
				<col width=1>
				<col width=10>
				<col width=1>
				<col width=*>
				<tr>
					<td class='spacer'>
					<td id='logo-pseudo-tab'>
						<div id='logo'>
							<a href='/'>
								<span id='logo-pro'>Р</span><span id='logo-rabotu'>аботнеги.ру</span>
							</a>
						</div>
					<td class='spacer'>
					<td class='spacer'>
					<td id='workers-tab' class='tab'><a href='/vacancies'>Работникам</a>
					<td class='spacer'>
					<td id='employers-tab' class='tab'><a href='/employers'>Работодателям</a>
					<td class='spacer'>
					<%= add_css_class(location.tab, 'selected-tab') %>
			</table>
			
			<div id='nav-bar'>
				<div id='<%= location.navigation_bar.to_s.gsub(/_/, '-') %>-nav-bar'>
  				<% case location.navigation_bar
  					 when :workers %>
  					<a id='vacancy-search-link' href='/vacancies' class='ui'>Поиск вакансий</a>
  					<a id='my-resume-link' href='/resumes/my' class='ui'>Моё резюме</a>
  				<% when :pro_employers %>
  					<a id='resume-search-link' href='/resumes' class='ui'>Поиск резюме</a>
  					<a id='vacancies-link' href='/employers/pro/vacancies' class='ui'>Мои вакансии</a>
  				<% when :casual_employers %>
  					<a id='resume-search-link' href='/resumes' class='ui'>Поиск резюме</a>
  					<a id='vacancies-link' href='/employers/casual/vacancies/new' class='ui'>Публикация вакансий</a>
  				<% end %>
				  <% if current_employer %>
				    <span style='float: right; padding-right: 20px'>
    					<%= current_employer %> |<%= link_to 'Выйти', log_out_employers_path, { :class => 'ui' } %>
				    </span>
					<% end %>
				</div>
				<%= add_css_class(location.navigation_link, 'selected') if location.navigation_link.present? %>
			</div>
		</div>
		
		<%= content_tag :div, flash[:notice], :id => 'flash-notice' if flash[:notice] %>
		<%= content_tag :div, flash[:error], :id => 'flash-error' if flash[:error] %>		
		
	</div>

	<div id='content'>
		<%= yield :layout %>
	</div>
	
	<div id='footer'>© 2008 Работнеги.ру</div>
	
	<% if Rails.env.development? %>
  	<pre id='sandbox'>
  	</pre>
	<% end %>
	
	<div id='plumbing'>
	  <div id='ga-scripts'>
    	<% if Rails.env.production? %>
      	<script type="text/javascript">
          var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
          document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
          var pageTracker = _gat._getTracker('<%= GOOGLE_ANALYTICS_ID %>');
          pageTracker._trackPageview();
        </script>
      <% end %>
	  </div>
	</div>
</body>
