<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<head>
  <title><%= window_title %></title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <% for name, content in meta_properties %>
    <%= tag :meta, :name => name, :content => content %>
  <% end %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag %w(gen/common gen/public gen/workers gen/employers gen/resumes gen/vacancies), :cache => 'pack/public' %>
</head>

<body id="<%= @page_id %>" class="public">
  <div id='header'>
    <div id="logo">
      <a href='/'>
        <span id='logo-pro'>Р</span><span id='logo-rabotu'>аботнеги.ру</span>
      </a>
    </div>

    <ul id='tabs' data-selected='#<%= @current_tab %>'>
      <li id='workers-tab' class="tab">
        <a href='<%= vacancies_path %>'>Поиск вакансий</a>
      </li>
      <li id='employers-tab' class="tab">
        <a href='<%= new_vacancy_path %>'>Публикация вакансии</a>
      </li>
    </ul>

    <br style='clear: both'/>

    <%= content_tag :div, flash[:notice], :id => 'flash-notice' if flash[:notice] %>
    <%= content_tag :div, flash[:error], :id => 'flash-error' if flash[:error] %>
  </div>

  <div id='content'>
    <%= yield :layout %>
  </div>
  
  <div id='footer'>
    © 2011 Работнеги.ру
  </div>
  
  <% if Rails.env.development? %>
    <pre id='sandbox'>
    </pre>
  <% end %>
  
  <%= javascript_include_tag %w(lib/jquery lib/rails), :cache => 'pack/lib' %>
  <%= javascript_include_tag %w(gen/common gen/application), :cache => 'pack/app' %>

  <%= render "layout/google_analytics" if Rails.env.production? %>
</body>
