<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<head>
	<title><%= window_title %></title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<% for name, content in meta_properties %>
	  <%= tag :meta, :name => name, :content => content %>
	<% end %>
	<%= stylesheet_link_tag %w(common public workers employers), :cache => 'pack/public' %>
</head>

<body id="<%= @page_id %>" class="public">
	<div id='header'>
		<div id='nav'>
			<table id='tab-bar' data-selected-tab='#<%= @current_tab %>'>
				<col width=10>
				<col width=1>
				<col width=10>
				<col width=10>
				<col width=1>
				<col width=10>
				<col width=1>
				<col width=*>
				<tr>
					<td class='spacer'>
					<td id='logo-pseudo-tab'>
						<div id='logo'>
							<a href='/'>
								<span id='logo-pro'>Р</span><span id='logo-rabotu'>аботнеги.ру</span>
							</a>
						</div>
					<td class='spacer'>
					<td class='spacer'>
					<td id='workers-tab' class='tab'><a href='/vacancies'>Работникам</a>
					<td class='spacer'>
					<td id='employers-tab' class='tab'><a href='/employers'>Работодателям</a>
					<td class='spacer'>
			</table>
			
			<div id='nav-bar' data-selected-link='<%= @current_navlink && "##{@current_navlink}" %>'>
				<div id='<%= @current_navbar %>'>
  				<% case @current_navbar
  					 when "workers-nav-bar" %>
  					<a id='vacancy-search-link' href='/vacancies' class='ui'>Поиск вакансий</a>
  					<a id='my-resume-link' href='/resumes/my' class='ui'>Моё резюме</a>
  				<% when "pro-employers-nav-bar" %>
  					<a id='resume-search-link' href='/resumes' class='ui'>Поиск резюме</a>
  					<a id='vacancies-link' href='/employers/pro/vacancies' class='ui'>Мои вакансии</a>
  				<% when "casual-employers-nav-bar" %>
  					<a id='resume-search-link' href='/resumes' class='ui'>Поиск резюме</a>
  					<a id='vacancies-link' href='/employers/casual/vacancies/new' class='ui'>Публикация вакансий</a>
  				<% end %>
				  <% if current_employer %>
				    <span style='float: right; padding-right: 20px'>
    					<%= current_employer %> |<%= link_to 'Выйти', log_out_employers_path, { :class => 'ui' } %>
				    </span>
					<% end %>
				</div>
			</div>
		</div>
		
		<%= content_tag :div, flash[:notice], :id => 'flash-notice' if flash[:notice] %>
		<%= content_tag :div, flash[:error], :id => 'flash-error' if flash[:error] %>
	</div>

	<div id='content'>
	  <%#= content_tag :h1, content_title, :class => 'page_title' if content_title %>
		<%= yield :layout %>
	</div>
	
	<div id='footer'>© 2008 Работнеги.ру</div>
	
	<% if Rails.env.development? %>
  	<pre id='sandbox'>
  	</pre>
	<% end %>
	
	<%= javascript_include_tag %w(jquery), :cache => 'pack/lib' %>
	<%= javascript_include_tag %w(common application), :cache => 'pack/app' %>
	<% if Rails.env.production? %>
  	<script>
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script>
      var pageTracker = _gat._getTracker('<%= GOOGLE_ANALYTICS_ID %>');
      pageTracker._trackPageview();
    </script>
  <% end %>
</body>
